.logo-icon {
    height: 80px;
    border-radius: 0;
    overflow: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.send-button {
    background-color: rgb(22, 66, 41);
    color: white;
}

html, body {
    scroll-behavior: smooth;
}