.logo-icon {
    height: 80px;
    width: 65px;
    border-radius: 0;
    background-image: url('img/logo_daprel_transparent.png');
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.send-button {
    background-color: rgb(22, 66, 41);
    color: white;
}

html, body {
    scroll-behavior: smooth;
}