<header class="main-header p-4 bg-[#344e41] text-white">
    <div class="flex items-center justify-center">
        <div class="logo-icon">
            <img src="img/logo_daprel_transparent.png" alt="foto logo daprel" class="max-h-[80px] object-cover">
        </div>
        <div class="text-2xl font-bold px-4">Daprel Portofolio Page</div>
    </div>

    <nav class="flex flex-col sm:flex-row p-2 text-center font-bold gap-2 justify-center">
        <a class="border p-2 rounded m-1 h-10 w-25 hover:bg-[#2c3e2f] transition duration-200" href="#home-page">Home</a>
        <a class="border p-2 rounded m-1 h-10 w-25 hover:bg-[#2c3e2f] transition duration-200" href="#profile-page">Profile</a>
        <a class="border p-2 rounded m-1 h-10 w-25 hover:bg-[#2c3e2f] transition duration-200" href="#portofolio-page">Portofolio</a>
        <a class="border p-2 rounded m-1 h-10 w-25 hover:bg-[#2c3e2f] transition duration-200" href="#message-page">Message</a>
    </nav>
</header>